<div   class="panel panel-default recipe-panel">

  <div class="panel-heading container-fluid" (click)="detailsClicked()">
    <span class="glyphicon"
          [ng-class]="detailsIcon">
    </span>

   <span class="recipe-title">{{model.name}}</span>
  </div>

  <div *ng-if="showDetails" class="panel-body">
    <p>
      <h4>Description:<br></h4>
      <div class="container">
        {{ details.description }}
      </div>
    </p>

    <p>
      <h4>Ingredients:<br></h4>
      <div class="container">
        <span *ng-for="#i of details.ingredients">
          {{ i }}<br>
        </span>
      </div>
    </p>

    <p>
      <h4>Directions:<br></h4>
      <div class="container">
        <ol>
          <li *ng-for="#s of details.steps">
            {{ s }}
          </li>
        </ol>
      </div>
    <p>

    <div class="container-fluid">
      <a (click)="showNotesClicked()">{{ showNotesText }}</a>

      <div class="container-fluid panel panel-default note-panel" *ng-if="showNotes">
        <div class="panel-body">
          <div class="well well-sm well-note" *ng-for="#n of notes">
            {{ n }}
          </div>

          <div *ng-if="showNewNoteBox" class="well well-sm well-note">
            <textarea class="form-control"
                      style="text-align: center"
                      rows="1" id="new-note-text"
                      [(ng-model)]="newNoteText" ></textarea>
          </div>
          <div class="center-block" style="text-align: center">
            <a (click)="addNoteClicked()">{{ addNoteText }}</a>
            <a *ng-if="showNewNoteBox" (click)="addNote($event)">Submit</a>
          </div>

        </div>
      </div>

    </div>

    <span [ng-switch]="deleteMode">
      <template [ng-switch-when]="'prompt'">
        <div class="container-fluid">
          <button class="btn btn-default pull-right" (click)="deleteClicked()">Delete</button>
        </div>
      </template>
      <template [ng-switch-when]="'execute'">
        <div class="container-fluid alert alert-warning" role="alert">
          Are you sure you want to delete this recipe?
          <button class="btn btn-default btn-warning pull-right" (click)="deleteClicked()">Delete</button>
        </div>
      </template>
    </span>


  </div>
</div>

